<!DOCTYPE html>
<html>
<head>
    <title>レポート編集</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'survey/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>レポート編集</h1>
        <p>Waf工程作業にて、ともするとトラブルに繋がるニアミス、いわゆるヒヤリハット(※1)体験について、以下の設問に回答ください。</p>
        <p>※1ヒヤリハットとは、人の認知サイクルにおける「情報の受容」→「判断」→「行動」のいずれかのフェーズで負荷(※2)を伴うもの全般です。</p>
        <p>※2この場合の負荷とは、情報受容段階では「見落とす」「紛らわしい」「理解しづらい」など。判断段階では「迷い」「思い込み」「勘違い」など。行動段階では「やりづらい」「力バランスがわからない」など。</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">保存</button>
        </form>
        <a href="{% url 'report_list' %}">一覧に戻る</a>
    </div>
</body>
</html>
